# Notebook 1: Cleaning & Saving Clean Text

### Importing Needed Libraries

In [3]:
import pandas as pd

### Step 1: Load the Data

In [5]:
df = pd.read_csv(r"../Data/Students Social Media Addiction.csv")
df.head()

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7

### Step 2: Clean the Data

In [15]:
# Check number of rows and columns
df.shape

(705, 13)

In [11]:
# Checking if there are any nulls
df.isnull().sum()

# There are no nulls

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

### Step 3: Save Cleaned Data to CSV File
Conclusion of Data Cleaning

- No missing values were found in any columns.
- No cleaning was required.

The dataset is clean and will be saved unchanged.

In [21]:
df.to_csv("../data/cleaned_data.csv", index=False)